.card {
	position: relative;
}

.card img {
	width: 100%;
	border: 2px solid #000;
	border-radius: 3em;

}

.card .front {
	width: 18rem;
	height: 21rem;
	transform: rotateY(90deg);
	position: absolute;
}

.flip .front {
	transform: rotateY(0deg);
}


.card .back {
	transition: all ease-out 0.2s;
	transition-delay: 0.2s;
}


.flip .back {
	transform: rotateY(90deg);
	transition-delay: 0s;
}